:root {
  --global-bg-color: #fff;
  --global-text-color: #000;
  --global-theme-color: #002d72;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  color: #fff !important;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background: var(--global-theme-color);
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.publications {
  margin-top: 2rem;
}

.publications ol.bibliography {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.publications ol.bibliography li {
  min-height: 0;
  margin-bottom: 1rem;
}

.publications .abbr {
  position: relative;
  flex: 0 0 88px;
  padding-right: 12px;
  margin-bottom: 0.5rem;
}

.publications .abbr abbr {
  position: static;
  padding-right: 1rem;
  padding-left: 1rem;
}

.publications .publication-details {
  position: relative;
  width: 100%;
  padding-right: 15px;
}

.publications .title {
  font-weight: 700;
}

.publications .links a.btn {
  padding: 0.1rem 0.5rem;
  color: var(--global-text-color);
  font-size: 12px;
  border: 1px solid var(--global-text-color);
}

.publications .links a.btn:hover {
  color: var(--global-theme-color);
  border-color: var(--global-theme-color);
}

.publications .publication-note {
  color: #e74d3c;
  font-style: italic;
}

.publications .teaser {
  width: 270px;
  height: 123px;
  margin: 5px 0 5px 5px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #888;
}
